/* style/InputContainer.module.scss */
.emptyContainer {
    background-color: #f4f4f4;
    padding: 1.5rem;
    margin: -30px auto 2rem auto; 
    width: 50%;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
    h2 {
      font-family: 'Karla', sans-serif;
      color: #5A5A5A;
      font-size: 1.5rem;
      margin: 0;
    }
  }
  